3부. 최적화 문제

6장. 물류의 최적경로를 컨설팅하기

테크닉 51. 물류 데이터를 불러오자.

In [1]:
import pandas as pd 

factories = pd.read_csv("tbl_factory.csv", index_col=0) # 생산 공장 데이터 
factories

        FCName  FCDemand FCRegion
FCID
FC00001   서울공장        28       북부
FC00002   수원공장        29       북부
FC00003   인천공장        31       북부
FC00004   대전공장        25       북부
FC00005   대구공장        21       남부
FC00006   광주공장        30       남부
FC00007   부산공장        25       남부
FC00008   울산공장        16       남부

In [5]:
warehouses = pd.read_csv("tbl_warehouse.csv", index_col=0) # 창고 데이터 
warehouses

        WHName  WHSupply WHRegion
WHID
WH00001   판교창고        35       북부
WH00002   용인창고        41       북부
WH00003   수원창고        42       북부
WH00004   대전창고        60       남부
WH00005   대구창고        72       남부
WH00006   광주창고        65       남부

In [6]:
cost = pd.read_csv("rel_cost.csv", index_col=0)# 창고와 공장 간의 운송 비용
cost

            FCID     WHID  Cost
RCostID
1        FC00001  WH00001   0.4
2        FC00001  WH00002   0.8
3        FC00001  WH00003   1.5
4        FC00002  WH00001   0.9
5        FC00002  WH00002   0.8
6        FC00002  WH00003   1.6
7        FC00003  WH00001   1.2
8        FC00003  WH00002   1.3
9        FC00003  WH00003   1.5
10       FC00004  WH00001   0.8
11       FC00004  WH00002   1.0
12       FC00004  WH00003   1.1
13       FC00005  WH00004   0.8
14       FC00005  WH00005   0.3
15       FC00005  WH00006   1.4
16       FC00006  WH00004   0.9
17       FC00006  WH00005   1.1
18       FC00006  WH00006   0.7
19       FC00007  WH00004   0.9
20       FC00007  WH00005   1.2
21       FC00007  WH00006   1.3
22       FC00008  WH00004   1.5
23       FC00008  WH00005   1.2
24       FC00008  WH00006   1.3

In [4]:
trans = pd.read_csv("tbl_transaction.csv", index_col=0) # 운송실적 
trans

          TransactionDate     ToFC   FromWH  Quantity
TRID
0     2019-01-01 02:11:10  FC00004  WH00003        33
1     2019-01-01 06:12:42  FC00007  WH00006        19
2     2019-01-01 06:32:32  FC00006  WH00004        31
3     2019-01-01 07:17:06  FC00002  WH00003        18
4     2019-01-01 07:52:18  FC00001  WH00002        30
...                   ...      ...      ...       ...
3995  2019-12-31 11:27:51  FC00007  WH00006        29
3996  2019-12-31 17:10:21  FC00002  WH00003        35
3997  2019-12-31 19:35:07  FC00003  WH00001        36
3998  2019-12-31 21:45:07  FC00005  WH00005        34
3999  2019-12-31 23:19:37  FC00005  WH00005        16

[4000 rows x 4 columns]

In [7]:
# 결합하기 
# 데이터 분석의 기초가 될 데이터는 운송 실적이므로 이를 중심으로 결합하자. 

join_data = pd.merge(trans, cost, left_on=["ToFC", "FromWH"], right_on=["FCID", "WHID"], how="left")
join_data

          TransactionDate     ToFC   FromWH  Quantity     FCID     WHID  Cost
0     2019-01-01 02:11:10  FC00004  WH00003        33  FC00004  WH00003   1.1
1     2019-01-01 06:12:42  FC00007  WH00006        19  FC00007  WH00006   1.3
2     2019-01-01 06:32:32  FC00006  WH00004        31  FC00006  WH00004   0.9
3     2019-01-01 07:17:06  FC00002  WH00003        18  FC00002  WH00003   1.6
4     2019-01-01 07:52:18  FC00001  WH00002        30  FC00001  WH00002   0.8
...                   ...      ...      ...       ...      ...      ...   ...
3995  2019-12-31 11:27:51  FC00007  WH00006        29  FC00007  WH00006   1.3
3996  2019-12-31 17:10:21  FC00002  WH00003        35  FC00002  WH00003   1.6
3997  2019-12-31 19:35:07  FC00003  WH00001        36  FC00003  WH00001   1.2
3998  2019-12-31 21:45:07  FC00005  WH00005        34  FC00005  WH00005   0.3
3999  2019-12-31 23:19:37  FC00005  WH00005        16  FC00005  WH00005   0.3

[4000 rows x 7 columns]

In [8]:
# 공장 데이터 추가 
join_data = pd.merge(join_data, factories, left_on="ToFC", right_on="FCID", how="left")
join_data

# 공장ID(ToFC, FCID)를 조건으로 데이터 결합. 뒤에 공장 데이터 추가

,TransactionDate,ToFC,FromWH,Quantity,FCID,WHID,Cost,FCName,FCDemand,FCRegion
0,2019-01-01 02:11:10,FC00004,WH00003,33,FC00004,WH00003,1.1,대전공장,25,북부
1,2019-01-01 06:12:42,FC00007,WH00006,19,FC00007,WH00006,1.3,부산공장,25,남부
2,2019-01-01 06:32:32,FC00006,WH00004,31,FC00006,WH00004,0.9,광주공장,30,남부
3,2019-01-01 07:17:06,FC00002,WH00003,18,FC00002,WH00003,1.6,수원공장,29,북부
4,2019-01-01 07:52:18,FC00001,WH00002,30,FC00001,WH00002,0.8,서울공장,28,북부
...,...,...,...,...,...,...,...,...,...,...
3995,2019-12-31 11:27:51,FC00007,WH00006,29,FC00007,WH00006,1.3,부산공장,25,남부
3996,2019-12-31 17:10:21,FC00002,WH00003,35,FC00002,WH00003,1.6,수원공장,29,북부
3997,2019-12-31 19:35:07,FC00003,WH00001,36,FC00003,WH00001,1.2,인천공장,31,북부
3998,2019-12-31 21:45:07,FC00005,WH00005,34,FC00005,WH00005,0.3,대구공장,21,남부
3999,2019-12-31 23:19:37,FC00005,WH00005,16,FC00005,WH00005,0.3,대구공장,21,남부

In [11]:
# 창고 정보도 추가해서 직관적으로 보기 좋게 칼럼의 순서 재배치 
join_data = pd.merge(join_data, warehouses, left_on="FromWH", right_on="WHID", how="left")
join_data = join_data[["TransactionDate", "Quantity", "Cost", "ToFC", "FCName", "FCDemand", "FromWH", "WHName", "WHSupply", "WHRegion"]]
join_data

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
0,2019-01-01 02:11:10,33,1.1,FC00004,대전공장,25,WH00003,수원창고,42,북부
1,2019-01-01 06:12:42,19,1.3,FC00007,부산공장,25,WH00006,광주창고,65,남부
2,2019-01-01 06:32:32,31,0.9,FC00006,광주공장,30,WH00004,대전창고,60,남부
3,2019-01-01 07:17:06,18,1.6,FC00002,수원공장,29,WH00003,수원창고,42,북부
4,2019-01-01 07:52:18,30,0.8,FC00001,서울공장,28,WH00002,용인창고,41,북부
...,...,...,...,...,...,...,...,...,...,...
3995,2019-12-31 11:27:51,29,1.3,FC00007,부산공장,25,WH00006,광주창고,65,남부
3996,2019-12-31 17:10:21,35,1.6,FC00002,수원공장,29,WH00003,수원창고,42,북부
3997,2019-12-31 19:35:07,36,1.2,FC00003,인천공장,31,WH00001,판교창고,35,북부
3998,2019-12-31 21:45:07,34,0.3,FC00005,대구공장,21,WH00005,대구창고,72,남부
3999,2019-12-31 23:19:37,16,0.3,FC00005,대구공장,21,WH00005,대구창고,72,남부